<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صورت حساب</title>


    <link rel="stylesheet" type="text/css" href="bootstrap/css/pastel-stream.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	
	
	
</head>
<body>

    <div class="container">
			
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" style="text-align: right">
                    <h1 id="title">صورت حساب</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6-right">
                <div class="well">
                    <form class="form-horizontal" style="text-align: right">
						
						<div class="row">
							<div class="col-lg-12">
								<div class="col-md-offset-6 col-md-6">
									<div class="page-header" style="text-align: right">
										<h2 id="title">: موجودی حساب</h2>
										<div class="input-group">
											<span class="input-group-addon">تومان</span>
											<input type="text" class="form-control" style="text-align: right">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						
						<div class="row">
							<div class="col-lg-12">
								<div class="col-md-offset-6 col-md-6">
									<div class="page-header" style="text-align: right">
										<h2 id="title">: واریز به حساب</h2>
									<div class="form-group">
										<label class="col-lg-2 control-label" for="inputLarge" style="text-align: right"></label>
										<div class="col-lg-10">
											<input class="form-control input-lg" type="text" id="inputLarge" data-toggle="tooltip" data-placement="left" title="شماره حساب" style="text-align: right">
										</div>
									</div>
									</div>
										<div class="input-group">
											<span class="input-group-addon">تومان</span>
											<input type="text" class="form-control" style="text-align: right">
										</div>
								</div>
						    </div>
						</div>
						
						
						<div class="row">
							<div class="col-lg-12">
								<div class="col-md-offset-6 col-md-6">
									<div class="page-header" style="text-align: right">
										<h2 id="title">: برداشت از حساب</h2>
									<div class="form-group">
										<label class="col-lg-2 control-label" for="inputLarge" style="text-align: right"></label>
										<div class="col-lg-10">
											<input class="form-control input-lg" type="text" id="inputLarge" data-toggle="tooltip" data-placement="left" title="شماره حساب" style="text-align: right">
										</div>
									</div>
									</div>
										<div class="input-group">
											<span class="input-group-addon">تومان</span>
											<input type="text" class="form-control" style="text-align: right">
										</div>
								</div>
						    </div>
						</div>
						
						<hr></hr>
						
					
						<div class="form-group">
							<div class="col-md-offset-4 col-md-4">
								<button id="startُSeccuss" type="submit" class="btn btn-success btn-block btn-lg">
									<h2 id="title">تایید</h2>
								</button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
        </div>		
		

		
        <div class="clearfix" style="height:50px;"></div>

        <script type="text/javascript">
            jQuery(function ($) {
                $('[data-toggle="popover"]').popover();
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

    </div>

</body>
</html>

