
<div id="contact">
<div id="slider">
<div id="my-slideshow">
    <ul class="bjqs">
        <li>
            <div class="image">
                <div class="img"><img src="{{STATIC_URL}}images/design.jpg" alt=""/></div>
                <div class="hover"><a href="#" data-toggle="modal" data-target="#zoom"><img src="{{STATIC_URL}}images/zoom.png" /></a></div>
                </div>
        </li>
        <li>
            <div class="image">
                <div class="img"><img src="{{STATIC_URL}}images/design1.jpg" alt=""/></div>
                <div class="hover"><a href="#" data-toggle="modal" data-target="#zoom"><img src="{{STATIC_URL}}images/zoom.png" /></a></div>
                </div>
         </li>
    </ul>
</div>  
</div>
<div id="chat"></div>
</div>