<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>مشخصات پروژه</title>

<link href="styles/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="dist/css/bootstrap-theme.min.css" />

</head>

<body>

<div id="project">

    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">مشخصات</a>
                </h1>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                        <td>نوع دسته بندی</td>
                        <td>قالب سایت</td>
                        </tr>
                        <tr>
                        <td>حداکثر میزان بودجه</td>
                        <td>10000000 ریال</td>
                        </tr>
                        <tr>
                        <td>تاریخ شروع  پروژه</td>
                        <td>1393/07/01</td>
                        </tr>
                        <tr>
                        <td>تاریخ اتمام  پروژه</td>
                        <td>1393/10/30</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
	<div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">شرح پروژه</a>
                </h1>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>اين کار به صورت طراحي و پياده سازي يک سايت امکان پذير است به اين صورت که طراحان freelancer  ( کارمزدي )ميتوانند در سايت ثبت نام کنند و مهارت تخصص خود را بيان کنند , سپس کارفرماياني که به طرحي براي موسسه خود نياز دارند پروژه مورد نياز خود را در سايت تعريف مي کنند تا پيمانکاران سايت که همان طراحان باشند براي طرح مورد نظر يک طرح اوليه ثبت کنند سپس کارفرما ميتواند از بين چندين طرح موجود بهترين ( يا چندين طرح در صورت بزرگ بودن پروژه ) را براي ادامه کار انتخاب کند .</p>
                </div>
            </div>
        </div>
        
	<div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">فایل ها</a>
                </h1>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>