<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="geo.region" content="IR-07" />
<meta name="geo.placename" content="Tehran" />
<meta property="og:locale" content="fa_IR" />
<meta property="og:type" content="website" />

<script src="static/js/jquery-1.11.0.min.js"></script>
<script defer src="static/js/bootstrap.min.js" ></script> 
<script src="static/js/bootstrap-tabdrop.js"></script>
<script src="static/js/spin.js"></script>
<script src="static/js/jquery-ui.effects.min.js"></script>
<script src="static/js/footable.min.js"  ></script> 
<script src="static/js/footable.paginate.min.js"  ></script> 

<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">
<link rel="icon" href="static/img/favicon.png" type="image/x-icon">
<link href="static/css/footable.core.min.css" rel="stylesheet" media="screen">
</head>

<div class="container container-sm" > 
	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="text-center">ثبت نام</h3>
			<hr>
			<form id="myForm" class="form-horizontal" role="form" action="" method="post">
				<div class="form-group">
					<label for="user_name" class="col-sm-4 control-label">نام کاربری:</label>
					<div class="col-sm-6">
						<input onblur="user()" type="text" class="form-control ltr" id="user_name" maxlength="20" name="user_name" placeholder="user name" >
					</div>
					<div id="user-image" class="col-sm-2 "> <span data-trigger="manual" data-placement='left' data-container='body' title='استفاده از این نام کاربری مجاز نیست'></span> </div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-4 control-label">ایمیل:</label>
					<div class="col-sm-6">
						<input onblur="mail()" type="email" class="form-control ltr" id="email" name="email" placeholder="email" >
					</div>
					<div id="mail-image" class="col-sm-2 "> <span data-trigger="manual" data-placement='left' data-container='body' title='این ایمیل قبلا به ثبت رسیده است'></span> </div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-4 control-label">رمز عبور:</label>
					<div class="col-sm-6">
						<input onblur="pass()" type="password" class="form-control ltr" id="password" name="password" placeholder="password" >
					</div>
					<div id="pass-image" class="col-sm-2 "> <span data-trigger="manual" data-placement='left' data-container='body' title='رمز عبور شما باید بیشتر از 6 کارکتر باشد' ></span> </div>
				</div>
				<div class="form-group">
					<label for="confirm_password" class="col-sm-4 control-label">تکرار رمز عبور:</label>
					<div class="col-sm-6">
						<input onblur="repass()" type="password" class="form-control ltr" id="confirm_password" name="confirm_password" placeholder="confirm password" >
					</div>
					<div id="repass-image" class="col-sm-2 "> <span data-trigger="manual" data-placement='left' data-container='body' title='رمز عبور وارد شده مطابقت ندارد'></span> </div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<button type="submit" id="submit" class="btn  btn-block">تایید</button>
						<span class="help-block"></span> </div>
				</div>
			</form>
		</div>
	</div>
</div>
